/*--A Design by W3layouts 
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
--*/
body{
	background:#fff;
	font-family: 'PT Sans', sans-serif;
		
}
body a{
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-o-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-ms-transition: 0.5s all;
}
 ul{
	padding: 0;
	margin: 0;
}
h1,h2,h3,h4,h5,h6,label,p{
	margin:0;	
}
/*----*/
.top-header{
	background:#8fbf00;
	 
}
.search{
	position:relative;
	border-left: 1px solid #fff;
	  float: right;
  width: 23%;
}
.search input[type="text"] {
	outline: none;
  padding: 8px 15px;
  background: none;
  width: 91%;
  border: none;
  font-size: 1em;
  color: #fff;
  font-style: italic;	
}
.search input[type="submit"] {	
	border: none;
	cursor: pointer;
	position: absolute;
	outline: none;
  top: 5px;
  right: 0px;
  background: url(../images/img-sprite.png)no-repeat -6px -12px ;
  width: 25px;
  height: 25px;
}
ul.header-in{
	float:right;
	margin: 10px 0;
}
ul.header-in li{
	display:inline-block;
}
ul.header-in li a{
	text-decoration:none;
	color:#fff;
	font-size:1em;
	margin:0em 1em;
}
ul.header-in li a:hover{
	color:#2d2d2d;
}
.head-top {
  padding: 0 15px;
}
.top-head {
  padding: 0 15px;
}
/*--logo--*/
.logo {
	float:left;  
}
.logo h1{
	font-size: 2.5em;
font-family: 'Montserrat Alternates', sans-serif;
}
.logo h1 a{
	text-decoration: none;
	color:#2d2d2d;
}
.logo h1 a span{
	text-decoration: none;
	color:#8fbf00;
}
.top-nav{
	float:right;
}
.top-nav ul li {
	display:inline-block;
	float: left;
}
.top-nav span.menu {
  display: none;
}
.top-nav ul li  a {
	display: inline-block;
	color: #fff;
	text-decoration: none;		
	font-size: 1.1em;
	padding:0.5em 1.3em;
	background: #8FBF00;
}
.top-nav ul li  a:hover{
	color:#fff;
	background: #2d2d2d;
}
.top-nav ul li a.color1:hover{
	background:#d52685;
}
.top-nav ul li a.color2:hover{
	background:#fd9f3e;
}
.top-nav ul li a.color3:hover{
	background:#553a99;
}
.top-nav ul li a.color4:hover{
	background:#6cbc35;
}
.top-nav ul li a.color5:hover{
	background:#08538c;
}
.top-nav ul li a.color6:hover{
	background:#FFE500;
}
.header-top {
	background:#fff;
	  padding: 2em 0 ;
	    border-bottom: 1px solid #D3D2D2;
}
/*--banner--*/
.wmuSlider {
	position: relative;
	overflow: hidden;
}
.wmuSliderPagination {
	z-index: 2;
	position: absolute;
	right:0%;
	top:0%;
	background:#fff;
}
ul.wmuSliderPagination {
	
	  height: 342px;
  width: 65px;
  padding: 10.5em 2em 0;
  
}
.wmuSliderPagination li {
	margin-bottom:8px;
	list-style-type: none;
	display:block;
}
.wmuSliderPagination a {
	display: block;
	text-indent: -9999px;
	width:8px;
	height:8px;
	background:#8fbf00;
	border-radius:50px;
	
}
.wmuGallery .wmuGalleryImage {
	margin-bottom: 10px;
}
.wmuSliderPrev, .wmuSliderNext {
	display:none;
}
.wmuSliderWrapper {
  padding: 0 1em;
}
.banner{
	background:url(../images/dark.png) 0px 0px;
	  padding: 3em 0;
}
.banner-top{
	float:left;
	width:35%;
	background:#fff;
	  margin-right: 3%;
	    border-radius: 5px;
}
.banner-bottom{
	width:55%;
}
.banner-top-in{
	float:left;
	  width: 45%;
}
/*--//banner--*/
/*--content--*/
h2.new{
	color:#000;
	font-size:1.5em;
	  padding: 0 0.7em;
}
 h2.new:after, h2.new:before{
	content:"";
	background:#8FBF00;
	width:489px;
	height:2px;
	display:inline-block;
	  vertical-align: middle;
	    margin:0 10px 0 0;
}
 h2.new:after{
	margin:0 0px 0 10px;
}
.content-top {
  padding: 5em 0 4em;
}

/*--col-mn--*/
.col-mn{
	background:url(../images/ba2.jpg)no-repeat center;
	width:100%;
	min-height:380px;
	display:block;
	background-size:cover;
	  padding: 6.5em 0 0;
}

.col-mn2{
	color:#fff;	
}
.col-mn2 h3{
	font-size:3em;
	  font-family: 'Montserrat Alternates', sans-serif;
}
.col-mn2 p{
	font-size: 1.1em;
  width: 75%;
  margin: 0.5em 0 1.5em;
}

a.more-in{
	background:#8fbf00;
  text-decoration: none;
  font-size: 1em;
  padding: 0.5em 1em;
  color:#fff;
}

a.more-in:hover {
  background: #fff;
  color:#2d2d2d;
}
/*--latest--*/
a.fashion {
  float: left;
  width: 34%;
}
.grid-product {
  float: right;
  width: 62%;
}
.grid-product span{
	font-size:1.1em;
	color:#989494;
}
.grid-product p{
	font-size: 1.1em;
  	line-height: 1.4em;
    margin: 0.3em 0;
}
.grid-product p a{
	text-decoration:none;
	color:#000;
}
.grid-product p a:hover{
	color:#8fbf00;
}
.late {
  padding: 2em 0 0;
}
.latest h4{
	background: #2d2d2d;
	font-size: 1.5em;
	display: block;
	color:#fff;
	  padding: 10px 15px;
}
a.comment{
	text-decoration: none;
	font-size: 1em;
	color:#8fbf00;
}
a.comment i{
	background:url(../images/img-sprite.png)no-repeat -41px -16px;
	width:16px;
	min-height:16px;
	display: inline-block;
	  vertical-align: middle;
  margin-right: 4px;
}
.featured {
  padding: 5em 0;
}
/*--//content--*/
/*--footer--*/
.footer-middle{
	background:#2d2d2d;
	padding:2em 0;
}
.footer-middle-in {
  float: left;
  width: 20%;
}
.footer-middle-in  h6{
	color:#fff;
	font-size:1.3em;
	padding:0 0 0.4em;
	text-transform:uppercase;
	
}
.footer-middle-in  p{
	color:#989494;
	font-size:0.9em;
	line-height:1.9em;
	width: 79%;
	 
}
.footer-middle-in  ul li{
	list-style:none;
}
.footer-middle-in  ul li a{
	color:#989494;
	font-size:0.9em;
	text-decoration:none;
	padding:0 0 0.5em ;
	display:block;	 
}
.footer-middle-in  ul li a:hover{
	color:#8FBF00;
}
.footer-class{
	color:#fff;
	font-size:1em;
	text-align:center;
	background:#8FBF00;
	padding:1em 0;	 
}
.footer-class a{
	color:#2d2d2d;
	text-decoration:none;
}
.footer-class a:hover{
	color:#fff;
}
/*--//footer--*/
/*--games--*/
.games {
  padding: 3em 0 4em;
}
.games h2 {
  font-size: 3em;
  font-family: 'Montserrat Alternates', sans-serif;
  color: #2d2d2d;
  text-align: center;
}
/*--//games--*/
/*--contact--*/
.contact {
  padding: 3em 0 0;
}
.contact h2{
	font-size: 3em;
	font-family: 'Montserrat Alternates', sans-serif;
	color:#2d2d2d;
	text-align: center;
}
.map iframe{
	width: 100%;
	height:350px;
	border:none;
}
.contact-grid input[type="text"],.contact-grid textarea{
	width: 100%;
	padding: 1em;
	margin: 0.5em 0;
	background:none;
	outline:none;
	  border: 1px solid #A09F9F;
	  font-size:1em;
	  color:#A09F9F;
	-webkit-appearance: none;
}
.contact-grid textarea{
	resize:none;
}
.send input[type="submit"]{
	width: 14%;
	font-size: 1.1em;
	background:#8FBF00;
	padding: 0.4em 0.8em;
	text-align: center;
	color: #fff;
	border: none;
	outline:none;
	-webkit-appearance: none;
}
.send input[type="submit"]:hover{
	background:#2d2d2d;
}
.contact-form {
	padding: 3em 0;
}
.address-more {
  padding: 0 0 2em;
}
.contact-in p{
	font-size:1em;
	color: #A09F9F;
	width: 72%;
	line-height: 1.7em;	
}
.address-more h4{
	color:#626262;
	font-size:1.4em;
	  font-family: 'Montserrat Alternates', sans-serif;
	margin: 0 0 0.3em;
}
.address-more p a{
	text-decoration:none;
	color: #9A9898;
}
.address-more p a:hover{
	color: #8FBF00;
}
/*--//contact--*/
/*--four--*/
.four{
	  padding: 9em 0 10em;
  text-align: center;
  min-height: 477px;
}
.four h2{
	  color: #8fbf00;
  font-size: 7em;
font-family: 'Montserrat Alternates', sans-serif;
  padding: 0.1em 0 0.2em;
}
.four p{
	color:#2d2d2d;
	font-size: 2em;
}
/*--//four--*/
/*--reviews--*/
.review h2{
		font-size: 3em;
	font-family: 'Montserrat Alternates', sans-serif;
	  color:#2d2d2d;
	  text-align: center;
}
.review {
  padding: 3em 0 5em;
}
.col-1 {
	background: #eee;
	  padding: 1em;
}
.col-1 h4{
	font-size:1.2em;
	 margin: 0.8em 0 0.5em;
	   font-family: 'Montserrat Alternates', sans-serif;
}
.col-1 h4 a{
	color:#2d2d2d;
	text-decoration: none;
}
.col-1 h4 a:hover{
	color:#8fbf00;
}
.col-1 p{
	color:#2d2d2d;
	font-size:1em;
	line-height: 1.5em;
}
.review-md1 {
  padding: 3em 0 0;
}
/*--//reviews--*/
/*--blog--*/
.blog{
		padding: 3em 0;
}
.blog h2{
		font-size: 3em;
	font-family: 'Montserrat Alternates', sans-serif;
	  color:#2d2d2d;
	  text-align: center;
}
.blog-left{
	float: left;
	border-right: 1px solid #B6B3B3;
	padding-right: 1.5em;
}
.blog-to {
  padding: 2em 0;
}
.blog-top {
  padding: 1em 0 0;
}
.top-blog {
	float: left;
	padding: 0.5em 0em 0em 2em;
	width: 90%;
	box-sizing: border-box;
	display: inline-block;
}
.blog-left b{
	font-size:3.5em;
	color:#8fbf00;
	display:block;
	height:55px;
	  font-family: 'Montserrat Alternates', sans-serif;
}
.blog-left span{
	font-size:1.7em;
	color:#8fbf00;
	  font-family: 'Montserrat Alternates', sans-serif;
}
ul.men-grid li{
	display:inline-block;
}
.top-blog p{
	font-size:1.1em;
	color:#A09F9F;
	line-height: 1.5em;
}
.top-blog p a{
	text-decoration:none;
	color:#8fbf00;
}
.top-blog  a.fast{
	text-decoration:none;
	font-size:1.1em;
	color:#2d2d2d;
	  font-family: 'Montserrat Alternates', sans-serif;
}
.top-blog a.fast:hover,.top-blog p a:hover,ul.popular li a:hover,a.more-dummy:hover{
	color:#8fbf00;
}
.pagination > li.active > a,.pagination > li.active > a:hover{
	background:#8FBF00 !important;
	border-color:#8FBF00 !important;
}
.pagination {
  margin: 0;
}
.pagination > li > a:hover{
  color: #FFFFFF;
  border-color: #8FBF00;
  background: #8FBF00;
}
a.more {
  color: #fff;
  background: #8FBF00;
  padding: 0.5em 1em;
  display: inline-block;
  text-decoration: none;
}
a.more:hover {
  background: #2d2d2d;
}

.more {
	color: #fff;
	background: #8FBF00;
	padding: 0.5em 1em;
	display: inline-block;
	text-decoration: none;
	border: 1px solid transparent;
}
.more:hover {
	background: #2d2d2d;
}

.more.alt {
	color: #2d2d2d;
	background: #fff;
	border: 1px solid #2d2d2d;
	padding: 0.5em 1em;
	display: inline-block;
	text-decoration: none;
	box-sizing: border-box;
}
.more.alt:hover {
	background: #2d2d2d;
	color: #fff;
}

#article-form > .more {
	width: 100%;
	margin-bottom: 30px;
}

.form-control {
	border: 1px solid #A09F9F;
	color: #A09F9F;
	border-radius: 0;
	box-shadow: none;
}

.form-control:focus {
	border: 1px solid #A09F9F;
	box-shadow: none;
}

a.delete-comment {
	display: inline-block;
	float: right;
	margin-left: 10px;
}

a.edit-comment {
	display: inline-block;
	float: right;
}

a.delete {
	color: #fff;
	background: #bf1025;
	padding: 0.5em 1em;
	display: inline-block;
	text-decoration: none;
	float: right;
	margin-left: 10px;
	border: 1px solid transparent;
}
a.delete:hover {
	background: #2d2d2d;
}

a.edit {
	color: #fff;
	background: #ffc93a;
	padding: 0.5em 1em;
	display: inline-block;
	text-decoration: none;
	float: right;
	border: 1px solid transparent;
}
a.edit:hover {
	background: #2d2d2d;
}
p.sed {
  margin: 0.5em 0 1em;
}
nav {
  text-align: center;
}
.single-inline {
  padding: 0 15px;
}

.blog-buttons {
	display: inline;
}
/*--//blog--*/
/*--single--*/
.single-middle h3{
font-size: 2.5em; 
  color: #2d2d2d;
  text-align:center;
    margin: 0 0 1em;
    font-family: 'Montserrat Alternates', sans-serif;
}
.single-bottom {
  padding: 0em 0 4em;
}
.single-bottom input[type="text"], .single-bottom textarea {
  width: 100%;
  padding: 1em;
  background: none;
  outline: none;
  border: 1px solid #A09F9F;
  font-size: 1em;
  color:#A09F9F;
  -webkit-appearance: none;
}
.single-bottom  input[type="submit"]{
	width: 10%;
	font-size: 1.3em;
	background: #8fbf00;
	padding: 0.4em 0.8em;
	text-align: center;
	color: #fff;
	border: none;
	outline:none;
	-webkit-appearance: none;
}
.single-bottom  input[type="submit"]:hover{
	background:#2d2d2d;
}
 .single-bottom textarea {
	resize:none;
	min-height:180px;
	 margin: 1em 0;
 }
.media-body h4{
	  font-size: 1.3em; 
}
.media-body h4 a{
  color: #2d2d2d;
  text-decoration:none;
}
.media-body p {
  margin: 0.7em 0 0em;
  font-size: 1.1em;
  color: #A09F9F;
  line-height: 1.5em;
}
.media {
  margin: 0em 0 3em;
}
.single-bottom h3 {
  font-size: 2.5em; 
  color: #2d2d2d;
  text-align: center;
  margin: 0.5em 0 1em;
  font-family: 'Montserrat Alternates', sans-serif;
}
.md-in{
	padding:0;
}
.in-media{
	padding:0 0 0 5em;
}
 ul.grid-part li{
	list-style:none;
}
 ul.grid-part li a{
	color:#A09F9F;
	text-decoration:none;
	padding:0.2em 0;
	display:block;
	font-size: 1.1em;
}
ul.grid-part li a i{
	background: #8fbf00;
	width:5px;
	height: 5px;
	display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}
 ul.grid-part li a:hover{
	color:#8fbf00;
	padding-left:0.2em;
}
ul.grid-part {
  margin: 0.5em 0 2em;
}
.single {
  padding: 2em 15px 0;
}
/*--//single--*/
/*--responsive--*/
@media(max-width:1366px){
}
@media(max-width:1280px){
}
@media(max-width:1220px){

}
@media(max-width:1024px){
ul.wmuSliderPagination {
  height: 283px;
  padding: 8em 2em 0;
}
h2.new:after, h2.new:before {
  width: 389px;
}
/*--blog--*/
.top-blog {
  width: 86%;
}
}
@media(max-width:768px){
	span.menu{
	display: block;
	text-align: right;
	cursor: pointer;
	position: relative;
}
.top-nav ul{
	display: none;
	position:absolute;
	width: 100%;
	z-index: 9999;
	left: 0%;
	margin:2em 0em;
	background:#8fbf00;
	border:0;
}
.top-nav span.menu{
	display: block;
}
.top-nav ul li{
	display: block;
	float:none;
	padding:  0.3em;
	text-align: center;
}
.top-nav ul li a{
	color:#fff;
	display:block;
	margin:0;
	background: none;
	border:none;
	padding:0.4em;
}
.top-nav ul li.active a{
	color:#000;	
}

ul.wmuSliderPagination {
  width: 47px;
  height: 216px;
  padding: 6.5em 1.4em 0;
}
h2.new:after, h2.new:before {
  width: 279px;
}
.col-mn2 p {
  width: 97%;
}
.col-mn {
  min-height: 346px;
}
.latest {
  margin-bottom: 2em;
}
a.fashion {
  width: 20%;
}
.grid-product {
  width: 78%;
}
.grid-product p {
  width: 43%;
}
.featured {
  padding: 3em 0 1em;
}
.content-top {
  padding: 3em 0 3em;
}
.footer-middle-in h6 {
  font-size: 1.1em;
}
.footer-middle-in p {
  width: 95%;
}
.search {
  width: 30%;
}
/*--reviews--*/
.sed-md {
  width: 33.3%;
  float: left;
}
.col-1 h4 {
  font-size: 1em;
}
.review {
  padding: 3em 0 3em;
}
.review-md1 {
  padding: 2em 0 0;
}
/*--blog--*/
.top-blog {
  width: 83%;
}
.md-in {
  float: left;
  width: 50%;
}
.single-bottom input[type="text"] {
  margin-bottom: 1em;
}
.single-bottom textarea{
	margin: 0 1em 1em;
	width: 96%;
}
.single-bottom input[type="submit"] {
  width: 13%;
}
/*--contact--*/
.contact-in {
  margin-top: 2em;
}
}

@media(max-width:640px){
.search {
  width: 36%;
}
ul.wmuSliderPagination {
  height: 174px;
  padding: 4.8em 1.4em 0;
}
.banner {
  padding: 2em 0;
}
h2.new:after, h2.new:before {
  width: 215px;
}
.col-mn {
  min-height: 318px;
  padding: 4.5em 0 0;
}
a.fashion {
  width: 25%;
}
.grid-product {
  width: 73%;
}
.footer-middle-in h6 {
  font-size: 0.9em;
}
/*--reviews--*/
.sed-md {
  padding: 0 10px;
}
.review h2,.games h2 ,.blog h2,.contact h2{
  font-size: 2.5em;
}
/*--blog--*/
.top-blog {
  width:84%;
  margin: 0.5em 0em 0em 1em;
}
.blog-left b {
  font-size: 2em;
    height: 35px;
}
.blog-left span {
  font-size: 1em;
}
.blog-left {
  padding-right: 1em;
}
ul.grid-part {
  margin: 0.5em 0 1em;
}
.media {
  margin: 0em 0 1em;
}
.single-bottom textarea {
  width: 93%;
}
.single-middle h3 ,.single-bottom h3{
  font-size: 2em;
}
.single-bottom input[type="submit"] {
  width: 20%;
}
}
@media(max-width:568px){
ul.header-in li a {
  margin: 0em 0.3em;
}
}
@media(max-width:480px){
.footer-middle-in h6 {
  font-size: 0.9em;
}
.search {
  width: 44%;
}
.header-top {
  padding: 1em 0;
}
.wmuSliderPagination li{
  display:inline-block !important;
}
.banner-top {
  width: 100%;
   margin-bottom: 1em;
}
.banner-top-in {
  width: 26%;
}
ul.wmuSliderPagination {
    height: 32px;
  padding: 0.9em 0em 0;
  width: 403px;
  margin: 0 1em 0 0;
  text-align:center;
}
.wmuSliderPagination {
  top: 90%;
}
.banner-wrap {
  padding: 0 0 3em;
}
.wmuSliderPagination a {
  margin: 0 0.5em 0 0;
}
.banner {
  padding: 2em 0 0em;
}
.search input[type="text"] {
  padding: 8px 6px;
}
h2.new {
  font-size: 1.3em;
}
h2.new:after, h2.new:before {
  width: 145px;
}
.col-mn2 p {
  width: 100%;
  font-size: 1em;
}
.col-mn2 h3 {
  font-size: 2.5em;
}
.col-mn {
  min-height: 290px;
  padding: 3.5em 0 0;
}
a.fashion {
  width: 32%;
}
.grid-product {
  width: 65%;
}
.grid-product p {
  width: 79%;
  font-size: 1em;
}
.footer-middle-in {
  width: 50%;
}
/*--404--*/
.four p {
  font-size: 1.3em;
}
/*--review--*/
.sed-md {
  width: 100%;
  margin-top: 2em;
}
.review-md1 {
  padding: 0em 0 0;
}
.col-1 img{
	width:100%;
}
.md-in {
  width: 100%;
}

}
@media(max-width:414px){
.search {
  display: none;
}
ul.header-in {
  width: 100%;
    margin-top: 0em;
	text-align:center;
	  padding: 0.5em;
}
ul.header-in li a {
  font-size: 1em;
  margin: 0em 0.3em;
}
}
@media(max-width:320px){
.logo h1 {
  font-size: 1.8em;
  margin-top: 6px;
}
.col-mn2 h3 {
  font-size: 2em;
}
.col-mn {
  padding: 2.3em 0 0;
}
a.fashion {
  width: 45%;
}
.grid-product {
  width: 51%;
}
.grid-product p {
  width: 100%;
  font-size: 0.9em;
}
.latest h4 {
  font-size: 1.3em;
}
.late {
  padding: 1em 0 0;
}
.wmuSliderWrapper {
  padding: 0 0em;
}
.latest {
  margin-bottom: 1.5em;
  padding: 0;
}
.featured {
  padding: 1.5em 0 1em;
}
.content-top {
  padding: 1.5em 0;
}
/*--games--*/
.games {
  padding: 1.5em 0;
}
.review h2, .games h2, .blog h2,.contact h2 {
  font-size: 1.8em;
}
/*--reviews--*/
.review {
  padding: 1.5em 0;
}
.sed-md {
  width: 100%;
  margin-top: 1.5em;
  padding: 0;
}

ul.wmuSliderPagination {
  width: 268px;
  margin: 0 0em 0 0;
}
h2.new {
  font-size: 1.1em;
  padding: 0;
}
h2.new:after, h2.new:before {
  width: 74px;
}
/*--four--*/
.four h2 {
  font-size: 4em;
}
.four p {
  font-size: 1.1em;
}
.four {
  padding: 5em 0 6em 0;
  min-height: 339px;
}
/*--blog--*/
.blog {
  padding: 1.5em 0;
}
.blog-to {
  padding: 1.5em 0px 0;
}
.single-inline {
  padding: 0;
}
.blog-left b {
  font-size: 1.8em;
  height: 26px;
}
.blog-left span {
  font-size: 0.9em;
}
.top-blog {
  width: 77%;
}
.top-blog a.fast ,.top-blog p{
  font-size: 0.9em;
}
nav {
  padding: 1.5em 0 0;
}
a.more {
  padding: 0.35em 0.7em;
}
.single {
  padding: 0em 0px 0;
}
ul.grid-part li a {
  font-size: 0.9em;
}
.single-middle h3, .single-bottom h3 {
  font-size: 1.7em;
}
.media-body p {
  font-size: 0.9em;
}
.in-media {
  padding: 0 0 0 0em;
}
.comment {
  padding: 0;
}
.single-bottom input[type="text"], .single-bottom textarea {
  padding: 0.55em;
}
.single-bottom textarea {
  margin: 0 0em 0.7em;
  width: 100%;
  min-height:100px;
}
.single-bottom input[type="submit"] {
  width: 26%;
  margin: 0;
  padding: 0.2em;
}
.single-bottom {
  padding: 0em 0 1.5em;
}
/*--contact--*/
.map iframe {
  height: 100px;
}
.contact {
  padding: 1.5em 0 0;
}
.contact-form {
  padding: 1.5em 0;
}
.contact-grid {
  padding: 0;
}
.contact-in {
  margin-top: 1.5em;
  padding: 0;
}
.contact-grid input[type="text"], .contact-grid textarea {
  padding: 0.55em;
}
.send input[type="submit"] {
  width: 24%;
}
.address-more {
  padding: 0 0 1em;
}
.top-nav ul{
	margin:1em 0em;
}
.head-top {
  padding: 0;
}
}

.disabled {
	pointer-events: none;
}

.mb {
	margin-bottom: 10px;
}

.submit-button {
	margin-bottom: 40px;
}

.form-group a.more {
	cursor: pointer;
	float: right;
}