<template>
    <!--content-->
    <div class="blog">
        <div class="container">
            <form v-if="this.$root.$data.user.logged_in" id="article-form" @submit.prevent="addArticle" class="mb" enctype="multipart/form-data">
                <div class="form-group">
                    <input type="text" class="form-control mb" placeholder="Title"
                    v-model="article.title">
                    <textarea class="form-control mb" placeholder="Body"
                              v-model="article.body">
                    </textarea>
                    <label class="mb">Upload Cover Image</label>
                    <input class="mb" type="file" id="cover_image" ref="cover_image" @change="handleFileUpload()"/>
                    <div v-if="!edit">
                        <label class="mb">Choose a category or add your own bellow:</label>
                        <select class="form-control mb" v-model="article.category_id">
                            <option v-for="category in categories" :value="category.id">
                                {{ category.name }}
                            </option>
                        </select>
                    </div>
                    <input type="text" class="form-control mb" placeholder="Category"
                           v-model="category.name">
                    <a v-if="!edit" @click="addCategory" class="more mb">Add Category</a>
                    <input type="hidden" class="form-control mb"
                           v-model="article.category_id">
                    <input type="hidden" class="form-control mb"
                           v-model="article.comments_count">
                    <input type="hidden" class="form-control mb"
                           v-model="article.user_id">
                </div>
                <button type="submit" class="more">Save</button>
            </form>
            <nav class="mb">
                <ul class="pagination">
                    <li v-bind:class="[{disabled: !pagination.prev_page_url}]">
                        <a href="#" aria-label="Previous" @click.prevent="fetchArticles(pagination.prev_page_url, '')">
                            <span aria-hidden="true">«</span>
                        </a>
                    </li>
                    <li v-for="n in pagination.last_page" v-bind:class="[{active: n===pagination.current_page}]">
                        <a href="#" @click.prevent="fetchArticles('api/articles?page=', n)">{{ n }}
                            <span class="sr-only"></span>
                        </a>
                    </li>
                    <li v-bind:class="[{disabled: !pagination.next_page_url}]">
                        <a href="#" aria-label="Next" @click.prevent="fetchArticles(pagination.next_page_url, '')">
                            <span aria-hidden="true">»</span>
                        </a>
                    </li>
                </ul>
            </nav>
            <div class="single-inline">
                <div class="blog-to" v-for="article in articles" v-bind:key="article.id">
                    <router-link :to="'single/' + article.id"><img class="img-responsive sin-on" :src="'/' + article.cover_image" alt="" /></router-link>
                    <div class="blog-top">
                        <div class="blog-left">
                            <b>{{ article.created_at | moment("D") }}</b>
                            <span>{{ article.created_at | moment("MMMM") }}</span>
                        </div>
                        <div class="top-blog">
                            <router-link :to="'single/' + article.id" class="fast">{{ article.title }}</router-link>
                            <p>Posted by <a href="#">{{ article.user_name }}</a> in <a href="#">{{ article.category_name }}</a> | <a href="#">{{ article.comments_count }} Comments</a></p>
                            <p class="sed">{{ article.body | truncate(10, '...') }}</p>
                            <router-link :to="'single/' + article.id" class="more">Readmore<span> </span></router-link>
                            <div class="blog-buttons" v-if="root_data.user.logged_in">
                                <a href="#" class="delete" @click.prevent="deleteArticle(article.id)">Delete<span> </span></a>
                                <a href="#" class="edit" @click.prevent="editArticle(article)">Edit<span> </span></a>
                            </div>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                articles: [],
                categories: [],
                article: {
                    id: '',
                    title: '',
                    body: '',
                    category_id: '',
                    comments_count: 0,
                    user_id: 0,
                    cover_image: '',
                },
                category: {
                  id: '',
                  name: ''
                },
                article_id: '',
                category_id: '',
                pagination: {},
                edit: false,
                root_data: this.$root.$data
            }
        },
        created() {
            this.fetchCategories();
            this.fetchArticles();
        },
        methods: {
            handleFileUpload(){
                this.article.cover_image = this.$refs.cover_image.files[0];
            },
            fetchArticles(page_url, n = null) {
                page_url = page_url + n || 'api/articles';
                fetch(page_url)
                    .then(res => res.json())
                    .then(res => {
                        this.articles = res.data;
                        this.makePagination(res.meta, res.links);
                    })
                    .catch(err => console.log(err));
            },
            fetchCategories(page_url, n = null) {
                page_url = page_url + n || 'api/categories';
                fetch(page_url)
                    .then(res => res.json())
                    .then(res => {
                        this.categories = res.data;
                    })
                    .catch(err => console.log(err));
            },
            makePagination(meta, links) {
                let pagination = {
                    current_page: meta.current_page,
                    last_page: meta.last_page,
                    next_page_url: links.next,
                    prev_page_url: links.prev
                };

                this.pagination = pagination;
            },
            deleteArticle(id) {
                if(confirm('Are you sure?')) {
                    fetch(`/api/article/${id}`, {
                        method: 'DELETE'
                    })
                        .then(res => res.json())
                        .then(data => {
                            alert('Article Removed');
                            this.fetchArticles();
                        })
                        .catch(err => console.log(err));
                }
            },
            addArticle() {
                if(this.edit === false) {
                    // Add
                    this.article.user_id = this.$root.$data.user_id;
                    this.article.comments_count = 0;

                    let formData = new FormData();
                    formData.append('id', this.article.id);
                    formData.append('title', this.article.title);
                    formData.append('body', this.article.body);
                    formData.append('category_id', this.article.category_id);
                    formData.append('comments_count', this.article.comments_count);
                    formData.append('user_id', this.article.user_id);
                    formData.append('cover_image', this.article.cover_image);
                    fetch('api/article', {
                        method: 'POST',
                        body: formData,
                    })
                        .then(res => res.json())
                        .then(data => {
                            this.article.title = '';
                            this.article.body = '';
                            this.article.category_id = '';
                            this.article.comments_count = '';
                            this.article.user_id = '';
                            this.article.cover_image = '';
                            alert('Article Added');
                            this.fetchArticles();
                        })
                        .catch(err => console.log(err));
                } else {
                    // Update
                    this.addCategory();
                    let formData = new FormData();
                    formData.append('id', this.article.id);
                    formData.append('title', this.article.title);
                    formData.append('body', this.article.body);
                    formData.append('category_id', this.article.category_id);
                    formData.append('comments_count', this.article.comments_count);
                    formData.append('user_id', this.article.user_id);
                    formData.append('cover_image', this.article.cover_image);
                    formData.append('article_id', this.article.article_id);
                    formData.append('_method', 'PUT');
                    fetch('api/article', {
                        method: 'POST',
                        body: formData,
                    })
                        .then(res => res.json())
                        .then(data => {
                            this.article.title = '';
                            this.article.body = '';
                            this.article.comments_count = '';
                            this.article.user_id = '';
                            this.category.name = '';
                            this.article.cover_image = '';
                            alert('Article Updated');
                            this.edit = false;
                            this.fetchArticles();
                        })
                        .catch(err => console.log(err));
                }
            },
            addCategory() {
                if(this.edit === false) {
                    // Add
                    fetch('api/category', {
                        method: 'post',
                        body: JSON.stringify(this.category),
                        headers: {
                            'content-type': 'application/json'
                        }
                    })
                        .then(res => res.json())
                        .then(data => {
                            this.category.name = '';
                            alert('Category Added. Please select it from dropdown.');
                            this.fetchCategories();
                        })
                        .catch(err => console.log(err));
                } else {
                    // Update
                    fetch('api/category', {
                        method: 'put',
                        body: JSON.stringify(this.category),
                        headers: {
                            'content-type': 'application/json'
                        }
                    })
                        .then(res => res.json())
                        .then(data => {
                            this.category.id = '';
                            this.category.name = '';
                        })
                        .catch(err => console.log(err));
                }
            },
            editArticle(article) {
                this.scrollToForm();

                this.edit = true;
                this.article.id = article.id;
                this.article.article_id = article.id;
                this.article.title = article.title;
                this.article.body = article.body;
                this.article.category_id = article.category_id;
                this.category.id = article.category_id;
                this.category.name = article.category_name;
                this.article.comments_count = article.comments_count;
                this.article.user_id = article.user_id;
                this.article.cover_image = article.cover_image;
            },
            scrollToForm() {
                let article_form = this.$el.querySelector("#article-form");
                article_form.scrollIntoView();
            }
        },
        filters: {
            truncate: function (text, length, suffix) {
                return text.substring(0, length) + suffix;
            }
        }
    }

</script>