<template>
    <!--content-->
    <div class="container">
        <div class="single">
            <div class="blog-to">

                <img class="img-responsive sin-on" :src="'/' + article.cover_image" alt="" />
                <div class="blog-top">
                    <div class="blog-left">
                        <b>{{ article.created_at | moment("D") }}</b>
                        <span>{{ article.created_at | moment("MMMM") }}</span>
                    </div>
                    <div class="top-blog">
                        <a class="fast" href="#">{{ article.title }}</a>
                        <p>Posted by <a href="#">{{ article.user_name }}</a> in <a href="#">{{ article.category_name }}</a> | <a href="#">{{ article.comments_count }} Comments</a></p>
                        <p class="sed">{{ article.body }}</p>
                        <div class="clearfix"> </div>
                    </div>
                    <div class="clearfix"> </div>
                </div>
            </div>

            <div class="single-middle">

                <h3 v-if="article.comments_count">{{ article.comments_count }} Comments</h3>
                <div class="media" v-for="comment in comments" v-bind:key="comment.id" v-if="comment.article_id === article.id">
                    <div class="media-body">
                        <div v-if="root_data.user.logged_in">
                            <h5><a href="#" class="delete-comment" @click.prevent="deleteComment(comment.id)">Delete<span> </span></a></h5>
                            <h5><a href="#" class="edit-comment" @click.prevent="editComment(comment)">Edit<span> </span></a></h5>
                        </div>
                        <h5 class="media-heading mb"><a href="#">{{ comment.user_name }}</a></h5>
                        <h4 class="media-heading"><a href="#">{{ comment.subject }}</a></h4>
                        <p>{{ comment.message }}</p>
                    </div>
                </div>

            </div>
            <!---->
            <div v-if="this.$root.$data.user.logged_in" class="single-bottom">

                <h3>Leave A Comment</h3>
                <form id="comment-form" @submit.prevent="addComment">
                    <div class="comment">
                        <input type="text" placeholder="Subject" v-model="comment.subject">
                    </div>
                    <div class="clearfix"> </div>
                    <textarea cols="77" rows="6" placeholder="Message" v-model="comment.message"></textarea>

                    <input type="submit" value="Send">

                </form>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                comments: [],
                comment: {
                    id: '',
                    subject: '',
                    message: '',
                    article_id: '',
                    user_id: ''
                },
                article: {
                    id: '',
                    title: '',
                    body: '',
                    category_id: '',
                    comments_count: '',
                    user_id: '',
                    created_at: ''
                },
                edit: false,
                root_data: this.$root.$data
            }
        },
        created() {
            this.fetchComments('/api/comments');
            this.fetchArticle('/api/article/' + this.$route.params.id);
        },
        methods: {
            fetchArticle(page_url) {
                fetch(page_url)
                    .then(res => res.json())
                    .then(res => {
                        this.article = res.data;
                    })
                    .catch(err => console.log(err));
            },
            fetchComments(page_url) {
                fetch(page_url)
                    .then(res => res.json())
                    .then(res => {
                            this.comments = res.data;
                        })
                    .catch(err => console.log(err));
            },
            deleteComment(id) {
                if(confirm('Are you sure?')) {
                    fetch(`/api/comment/${id}`, {
                        method: 'delete'
                    })
                        .then(res => res.json())
                        .then(data => {
                            alert('Comment Removed');
                            this.fetchComments('/api/comments');
                            this.fetchArticle('/api/article/' + this.$route.params.id);
                        })
                        .catch(err => console.log(err));
                }
            },
            addComment() {
                if(this.edit === false) {
                    // Add
                    this.comment.user_id = this.$root.$data.user_id;
                    this.comment.article_id = this.article.id;
                    fetch('/api/comment', {
                        method: 'post',
                        body: JSON.stringify(this.comment),
                        headers: {
                            'content-type': 'application/json'
                        }
                    })
                        .then(res => res.json())
                        .then(data => {
                            this.comment.subject = '';
                            this.comment.message = '';
                            alert('Comment Added.');
                            this.fetchComments('/api/comments');
                            this.fetchArticle('/api/article/' + this.$route.params.id);
                        })
                        .catch(err => console.log(err));
                } else {
                    // Update
                    fetch('/api/comment', {
                        method: 'put',
                        body: JSON.stringify(this.comment),
                        headers: {
                            'content-type': 'application/json'
                        }
                    })
                        .then(res => res.json())
                        .then(data => {
                            this.comment.subject = '';
                            this.comment.message = '';
                            alert('Comment Updated');
                            this.fetchComments('/api/comments');
                            this.fetchArticle('/api/article/' + this.$route.params.id);
                        })
                        .catch(err => console.log(err));
                }

            },
            editComment(comment) {
                this.edit = true;
                this.comment.id = comment.id;
                this.comment.subject = comment.subject;
                this.comment.message = comment.message;
                this.comment.article_id = comment.article_id;
                this.comment.user_id = comment.user_id;
                this.scrollToForm();
            },
            scrollToForm() {
                let comment_form = this.$el.querySelector("#comment-form");
                comment_form.scrollIntoView();
            }
        }
    }
</script>