<template>
    <!--header-->
    <div class="header" >
        <div class="top-header" >
            <div class="container">
                <div class="top-head" >

                    <ul class="header-in">
                        <ul v-if="!this.$root.$data.user.logged_in">
                            <li><a href="#" data-toggle="modal" data-target="#loginModal">Login</a></li>
                            <li><a href="#" data-toggle="modal" data-target="#registerModal">Register</a></li>
                        </ul>
                        <li v-else><a href="#" @click.prevent="logoutUser">Logout</a></li>
                    </ul>

                    <div class="clearfix"> </div>
                </div>
            </div>
        </div>
        <!---->

        <!-- Login Modal -->
        <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="loginModalLabel">Login</h4>
                    </div>
                    <form @submit.prevent="loginUser" class="mb">
                        <div class="modal-body">
                            <div class="form-group">
                                <input type="text" class="form-control mb" placeholder="Email"
                                       v-model="user_login.email">
                                <input type="password" class="form-control mb" placeholder="Password"
                                       v-model="user_login.password">
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="more alt" data-dismiss="modal">Close</button>
                            <button type="submit" class="more" data-toggle="modal" data-target="#loginModal">Login</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <!-- Register Modal -->
        <div class="modal fade" id="registerModal" tabindex="-1" role="dialog" aria-labelledby="registerModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="registerModalLabel">Register</h4>
                    </div>
                    <form @submit.prevent="addUser" class="mb">
                        <div class="modal-body">
                                <div class="form-group">
                                    <input type="text" class="form-control mb" placeholder="Name"
                                           v-model="user.name">
                                    <input type="text" class="form-control mb" placeholder="Email"
                                           v-model="user.email">
                                    <input type="password" class="form-control mb" placeholder="Password"
                                           v-model="user.password">
                                </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="more alt" data-dismiss="modal">Close</button>
                            <button type="submit" class="more" data-toggle="modal" data-target="#registerModal">Register</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="header-top">
            <div class="container">
                <div class="head-top">
                    <div class="logo">
                        <h1><router-link to="/"><span> G</span>ames <span>C</span>enter</router-link></h1>

                    </div>
                    <div class="top-nav">
                        <span class="menu"><img src="images/menu.png" alt=""> </span>

                        <ul>
                            <li class="active"><router-link to="/">Home</router-link></li>
                            <div class="clearfix"> </div>
                        </ul>

                    </div>

                    <div class="clearfix"> </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "Header",
        data() {
            return {
                user: {
                    id: '',
                    name: '',
                    email: '',
                    password: ''
                },
                user_login: {
                    email: '',
                    password: ''
                },
            }
        },
        methods: {
            addUser() {
                // Add
                fetch('/api/user', {
                    method: 'post',
                    body: JSON.stringify(this.user),
                    headers: {
                        'content-type': 'application/json'
                    }
                })
                    .then(res => res.json())
                    .then(data => {
                        this.user.name = '';
                        this.user.email = '';
                        this.user.password = '';
                        alert('User Added. Please Login.');
                    })
                    .catch(err => console.log(err));
            },
            loginUser() {
                // Login
                fetch('/api/login', {
                    method: 'post',
                    body: JSON.stringify(this.user_login),
                    headers: {
                        'content-type': 'application/json'
                    }
                })
                    .then(res => res.json())
                    .then(res => {
                        this.user_login.email = '';
                        this.user_login.password = '';
                        alert('Successfully Logged In.');
                        localStorage.setItem('user_id', res.data.id);
                        this.$root.$data.user_id = localStorage.getItem('user_id');
                        this.$root.fetchUser('/api/user/' + this.$root.$data.user_id);
                    })
                    .catch(err => console.log(err));
            },
            logoutUser() {
                // Logout
                fetch('/api/logout', {
                    method: 'post',
                    body: JSON.stringify(this.$root.$data.user_id),
                    headers: {
                        'content-type': 'application/json'
                    }
                })
                    .then(res => res.json())
                    .then(data => {
                        localStorage.clear();
                        alert('Successfully Logged Out.');
                        this.$root.fetchUser('/api/user/' + this.$root.$data.user_id);
                        this.$root.$data.user_id = '';
                    })
                    .catch(err => console.log(err));
            },
        }
    }
</script>